<?xml version="1.0" ?>
<robot name="table">
  <link name="table_link">
    <inertial>
      <origin xyz="0 0 0.4"/>
      <mass value="5"/>
      <inertia ixx="0.5" ixy="0" ixz="0" iyy="0.5" iyz="0" izz="0.5"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.4"/>
      <geometry>
        <box size="1.2 1.0 0.05"/>
      </geometry>
      <material name="brown">
        <color rgba="0.6 0.4 0.2 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.4"/>
      <geometry>
        <box size="1.2 1.0 0.05"/>
      </geometry>
    </collision>
  </link>
</robot>
